@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 240 10% 3.9%;
    --card: 0 0% 100%;
    --card-foreground: 240 10% 3.9%;
    --popover: 0 0% 100%;
    --popover-foreground: 240 10% 3.9%;
    --primary: 240 5.9% 10%;
    --primary-foreground: 0 0% 98%;
    --secondary: 240 4.8% 95.9%;
    --secondary-foreground: 240 5.9% 10%;
    --muted: 240 4.8% 95.9%;
    --muted-foreground: 240 3.8% 46.1%;
    --accent: 240 4.8% 95.9%;
    --accent-foreground: 240 5.9% 10%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
    --success: 149, 89%, 43%;
    --success-foreground: 0 0% 98%;
    --warning: 44, 71%, 62%;
    --warning-foreground: 0 0% 98%;
    --error: 0, 85%, 59%;
    --error-foreground: 0 0% 98%;
    --border: 240 5.9% 90%;
    --input: 240 5.9% 90%;
    --ring: 240 5.9% 10%;
    --radius: 0.5rem;
  }

  .dark {
    --background: 240 10% 3.9%;
    --foreground: 0 0% 98%;
    --card: 240, 8%, 8%;
    --card-foreground: 0 0% 98%;
    --popover: 240 10% 3.9%;
    --popover-foreground: 0 0% 98%;
    --primary: 0 0% 98%;
    --primary-foreground: 240 5.9% 10%;
    --secondary: 240 3.7% 15.9%;
    --secondary-foreground: 0 0% 98%;
    --muted: 240 3.7% 15.9%;
    --muted-foreground: 240 5% 64.9%;
    --accent: 240 3.7% 15.9%;
    --accent-foreground: 0 0% 98%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;
    --success: 149, 89%, 43%;
    --success-foreground: 0 0% 98%;
    --warning: 44, 71%, 62%;
    --warning-foreground: 0 0% 98%;
    --error: 0, 85%, 59%;
    --error-foreground: 0 0% 98%;
    --border: 240 3.7% 15.9%;
    --input: 240 3.7% 15.9%;
    --ring: 240 4.9% 83.9%;
  }
}

@layer base {
  * {
    @apply border-border underline-offset-4;
  }
  body {
    @apply bg-background text-foreground;
  }
}

.no-scrollbar::-webkit-scrollbar {
  display: none;
}

.typography * {
  word-break: break-word;
  overflow-wrap: break-word;
}

.typography {
  h1,
  h2 {
    @apply mb-4 scroll-m-20 border-b pb-2 text-3xl font-semibold tracking-tight first:mt-0;
  }
  h3 {
    @apply scroll-m-20 text-2xl font-semibold tracking-tight;
  }
  h4 {
    @apply scroll-m-20 text-xl font-semibold tracking-tight;
  }
  h1:not(:first-child),
  h2:not(:first-child),
  h3:not(:first-child),
  h4:not(:first-child) {
    @apply mt-8;
  }
  p {
    @apply leading-7 [&:not(:first-child)]:mt-6;
  }
  blockquote {
    @apply mt-6 border-l-2 pl-6 italic;
  }
  table {
    @apply my-6 w-full overflow-y-auto;
    thead {
      tr {
        @apply m-0 border-t p-0 even:bg-muted;
        th {
          @apply border px-4 py-2 text-left font-bold [&[align=center]]:text-center [&[align=right]]:text-right;
        }
      }
    }
    tbody {
      tr {
        @apply m-0 border-t p-0 even:bg-muted;
      }
      td {
        @apply border px-4 py-2 text-left [&[align=center]]:text-center [&[align=right]]:text-right;
      }
    }
  }
  hr {
    @apply my-4;
  }
  ul {
    @apply my-6 ml-6 list-disc [&>li]:mt-2;
  }
  ol {
    @apply my-6 ml-6 list-decimal [&>li]:mt-2;
  }
  *:not(pre) code {
    @apply relative rounded bg-muted px-[0.3rem] py-[0.2rem] font-mono text-sm font-semibold;
  }
  a {
    @apply font-medium underline underline-offset-4;
  }
  strong {
    @apply !font-semibold;
  }
  img,
  iframe {
    @apply my-4 rounded-xl;
  }
  svg {
    @apply sr-only;
  }
  pre:has(code) {
    @apply my-6 whitespace-pre-wrap rounded bg-muted px-[0.3rem] py-[0.2rem];
  }
}

.tiptap {
  padding: 1rem;
  border-radius: 0px 0px 0.75rem 0.75rem;
  word-wrap: break-word;
  min-height: 10.25rem;
}
.tiptap:focus {
  /* outline: 1px solid hsl(var(--accent-foreground)); */
  outline: none;
}
.tiptap h1 {
  @apply scroll-m-20 text-4xl font-extrabold tracking-tight lg:text-5xl;
}
.tiptap h2 {
  @apply scroll-m-20 border-b pb-2 text-3xl font-semibold tracking-tight first:mt-0;
}
.tiptap h3 {
  @apply scroll-m-20 text-2xl font-semibold tracking-tight;
}
.tiptap h4 {
  @apply scroll-m-20 text-xl font-semibold tracking-tight;
}
.tiptap p {
  @apply leading-7 [&:not(:first-child)]:mt-6;
}
.tiptap ul[data-type="taskList"] {
  @apply list-none;
}
.tiptap ul[data-type="taskList"] label,
.tiptap ul[data-type="taskList"] li {
  @apply flex flex-row gap-1;
}
.tiptap ul[data-type="taskList"] label {
  @apply mt-[0.3125rem] min-w-max;
}
.tiptap ul {
  @apply my-6 ml-6 list-disc [&>li]:mt-2;
}
.tiptap ol {
  @apply my-6 ml-6 list-decimal [&>li]:mt-2;
}
.tiptap code {
  @apply relative rounded bg-muted px-[0.3rem] py-[0.2rem] font-mono text-sm font-semibold;
}
.tiptap pre code {
  color: inherit;
  padding: 0;
  background: none;
  font-size: 0.8rem;
}
.tiptap img {
  @apply h-auto max-w-full;
}
.tiptap blockquote {
  @apply mt-6 border-l-2 pl-6;
}
.tiptap hr {
  border: none;
  border-top: 2px solid hsl(var(--border));
  margin: 2rem 0;
}
.tiptap input[type="checkbox"] {
  @apply h-4 w-4 min-w-[16px] shrink-0 rounded-sm border border-primary shadow focus-visible:outline-none focus-visible:ring-1 focus-visible:ring-ring disabled:cursor-not-allowed disabled:opacity-50 data-[state=checked]:bg-primary data-[state=checked]:text-primary-foreground;
}
